body {
  background-color: lightgrey;
}

form > div {
  margin-bottom: 10px;
}

form > div > label {
  display: block;
}

/* FieldFeedbacks */
form > div > div > div.error {
  color: red;
}
form > div > div > div.warning {
  color: orange;
}
form > div > div > div.info {
  color: blue;
}
