.git/
.husky/
node_modules/
build/
dist/
coverage/
.gitignore
.prettierignore
.eslintignore
.editorconfig
.browserslistrc
*.png
package-lock.json
LICENSE

# React Native example
examples/ReactNative/.expo/
examples/ReactNative/ios/
examples/ReactNative/android/
